@import "../settings/breakpoints";

.actualites-page {
 .liste-articles {
  margin: 0 auto 96px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  animation: fadeInUp 0.8s ease-out forwards;
  @include mobile{
   margin-bottom: 48px;
  }

  @include max-desktop {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
  }
  @include max-tablet{
   grid-template-columns: repeat(2, 1fr);
  }
  .actu {
   border-radius: 10px;
   padding: 16px;
   background-color: var(--beige);
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);

   h3{
    margin-bottom: 10px;
   }
   .actu-image{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    img {
     width: 150px;
     height: auto;
     border-radius: 8px;
     object-fit: cover;
    }
   }
   p {
    margin-bottom: 15px;
   }
  }
 }
}
