.error-container {
  margin: 0 auto;
  padding: 3.125rem;
  max-width: 87.5rem;
  .oops-container {
    display: flex;
    flex-direction: row;
    gap: 6.25rem;
    animation: float 3s ease-in-out infinite;
  }
  .error-text {
    padding-bottom: 2rem;
  }
}
