@import "../settings/breakpoints";
.single-projet {
  margin: 3rem auto;
  line-height: 1.5rem;
  max-width: 75rem;
  @include max-desktop {
    margin: 6rem auto;
  }
  .projet-intro {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-direction: column-reverse;
    .mini-desc{
      font-weight: 600;
    }
    @include max-tablet {
      flex-direction: row;
      align-items: flex-start;
    }
    > div:first-child {
      flex: 1;
      min-width: 15.625rem;
      h2 {
        line-height: 1.4;
        margin-bottom: 1.5rem;
      }
      .mini-desc {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    .bubbles-svg {
      flex-shrink: 0;
      max-width: 100%;
      width: 9.375rem;
      margin: 0 auto;
      animation: float 3s ease-in-out infinite;
      svg {
        width: 100%;
        height: auto;
      }

      @include max-tablet {
        width: 15rem;
      }
      @include max-desktop {
        margin: 0;
        width: 11.875rem;
      }
    }
  }
}
.galerie {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  img {
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
    object-fit: cover;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  @include max-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    img {
      width: calc(33.333% - 1rem);
    }
  }
}
.projet-description {
  p {
    margin-bottom: 1.5rem;
  }
}
.other-project {
  font-family: var(--font-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  .other-project-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}