/* Base color */
:root {
  --blue: #A9E5E0;
  --blue2: #8ce5e0;
  --beige: #F8F6E9;
  --beige2: #faf3d4;
  --sky: #A9CAEF;
  --dark-blue: #222443;
  --yellow: #F2D369;
  --white: #fff;
  --grey:#EDEDED;

  --grid-container: 1280px;
}
